* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(
      135deg,
      #74ebd5,
      #acb6e5
    ); /* Degradado suave y limpio */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  