body {





  font-family: Arial, sans-serif;
  background-color: rgb(2, 255, 242);
  margin: 20;
  display: flex;
  justify-content: center;
  font-style: italic;
  /* Hace que todo el texto sea cursivo */
}







#app {
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}











#search {
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

#type-filter {
  padding: 8px;
  font-size: 16px;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

header h1 {

  font-family: Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000;
  /* Simula un contorno */
}






.card {
  padding: 5px;
  /* Espacio interno */
  border-radius: 35%;
  /* Hace que la tarjeta sea completamente redonda */
  text-align: center;
  /* Centra el contenido dentro de la tarjeta */
  background-color: rgb(2, 255, 242);
  /* Se eliminará en el hover para usar el color de la imagen */
  transition: transform 0.3s, background-color 0.3s;
  /* Suaviza las animaciones de transformación y color */
  overflow: hidden;
  /* Asegura que nada sobresalga de los bordes redondeados */
}

.card img {
  max-width: 100%;
  /* Ajusta las imágenes al ancho de la tarjeta */
  height: auto;
  /* Mantiene las proporciones de las imágenes */
  border-radius: 60%;
  /* Hace que la imagen también sea redonda */
}

.card:hover {
  transform: scale(1.00);
  /* Agranda ligeramente la tarjeta al pasar el mouse */
  background-color: rgb(20, 198, 198);
  /* Toma el color principal del contenido */
}


#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.pagination-button.active {
  background-color: #0073e6;
  color: white;
}